{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="banner-com-link">

  <h1>CONTENT</h1>

</div>


{% schema %}
    {
    "name": "Auto Slideshow"
    }
{% endschema %}

